@page
@model CoreDemo.Pages.WiproModel
@{
    ViewData["company"] = "WIPRO";
    ViewData["name"] = "Gunukula Sathwik Reddy";
}
<p>Company : <b>@ViewData["company"]</b> </p>
<p>Name : <b>@ViewData["Name"]</b> </p>
